/* De arriba para abajo */

/* Generales */

@font-face {
    font-family: "Ubuntu";
    src: url("./Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Canterbury";
    src: url("./canterbury/Canterbury.ttf");
}

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style-type: none;
    color: white;
    left: 0;
    top: 0;
    font-family: "Ubuntu";
    text-shadow: 
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black,
    1px 1px 0px black;
}

body{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 2em;
    padding: 10px 0;
}

h2{
    font-size: 2.7em;
}

.activo{
    color: red;
}

a:hover{
    color: red;
}

/* Cabecera */

.nombre{
    font-family: "Canterbury";
    font-size: 1.2em;
}

header{
    padding: 30px 0;
    position: sticky;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    z-index: 100;
}

header > h1 > a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

nav{
    display: flex;
}

nav > ul {
    display: flex;
    align-self: center;
}

nav > ul > li {
    margin: 0 5px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #fff;
}

/* Nudo */


main{
    position: relative;
    z-index: 2;
    background-image: url("../img/proyecto.webp");
    background-attachment: fixed;
    background-size: cover;
}

main > section {
    padding: 50px 5px;
    margin: 0 1em;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

main > section > h1 {
    font-size: 3em;
    margin: 10px 45px;
    text-align: left;
}

main > section > p{
    font-size: 2em;   
    margin: 20px 0;
}

main > section > p > a {
    font-size: 1em;
}

main > section:nth-child(2) > h1{
    margin: 10px 45px;
}

main > section:nth-child(2) > p{
    margin: 10px 10px;
}

main > section > ul {
    display: inline-block;
}

main > section > ul > li {
    text-align: left;
    font-size: 1.6em;
    margin: 2em 1em;
    list-style-type: decimal;
}

#ficha > tr > td{
    padding: 10px 100px;
}

td > p, td > a{
    font-size: 1.5em;
}

th{
    font-size: 1.8em;
}

table{
    padding: 100px 0;
    border-collapse: collapse;
}

td > a > img {
    margin: 15px 50px;
}

td > a:hover > img{
    transform: scale(1.5);
    transition: transform 0.2s;
}

#ficha > tr {
    background-color: yellow;
}

img {
    height: 100px;
    width: 100px;
    
}

/* Pie */

footer{
    height: 30vh;
    padding: 10px 10px;
    background-color: #000;
    color: #fff;
}

footer > ul {
    margin: 2em 1px;
    display: flex;
    justify-content: space-around;
}

footer > ul > li > a > img {
    height: 100%;
    width: 100%;
}

a:hover > img {
    transform: scale(1.3);
    transition: transform 0.2s;
}

/* Responsividad */

@media screen and (max-width: 600px) {
    *{
        color: red !important;
    }

}